<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.pizza.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PizzaController</servlet-name>
        <servlet-class>controller.pizza.PizzaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrinkController</servlet-name>
        <servlet-class>controller.pizza.DrinkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServerlet</servlet-name>
        <servlet-class>controller.pizza.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.pizza.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.pizza.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.pizza.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.pizza.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountServlet</servlet-name>
        <servlet-class>controller.pizza.ViewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfoController</servlet-name>
        <servlet-class>controller.pizza.EditInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.pizza.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/pizza/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PizzaController</servlet-name>
        <url-pattern>/pizza/pizza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrinkController</servlet-name>
        <url-pattern>/pizza/drink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServerlet</servlet-name>
        <url-pattern>/pizza/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/pizza/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/pizza/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/pizza/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/pizza/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountServlet</servlet-name>
        <url-pattern>/pizza/viewacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfoController</servlet-name>
        <url-pattern>/pizza/editinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/pizza/getinfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
